<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <%- include('template/header.ejs') %>

        <p>Smartbyte</p><br><br>
        <ul>
            <% users.forEach(function(item,index){ %>
                <li>
                    <%= item %>
                </li>
                <% }); %>
        </ul>
        <table border="2">

            <% users.forEach(function(item,index){ %>
                <tr>
                    <td>
                        <%= item %>
                    </td>
                    <td>
                        <%= designation[index] %>
                    </td>
                </tr>
                <% }); %>


        </table>

        <%- include('template/footer.ejs') %>
</body>

</html>